/*--------------------------- Navigation --------------------------------*/
/* formating and classes for navigation bar */

header {
  position: relative;
  box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
  background-color: var(--light-mode-background);
  position: sticky;
  top: 0;
  z-index: 1;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 0;
  animation: leftSideAni 1s ease forwards;
}
.logo a {
  color: #000;
  text-decoration: none;
}
header .page-header > ul {
  display: flex;
  gap: 0.6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
}
header .page-header li a {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: var(--nav-text);
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  border-radius: 36px;
  line-height: 2;
  transition: 0.3s;
  opacity: 0;
  animation: navani 0.3s ease forwards;
  animation-delay: calc(0.15s * var(--navAni));
}
header .page-header > ul li a {
  position: relative;
}
header .page-header > ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  height: 3px;
  background: linear-gradient(
    to right,
    var(--primary-color) 10%,
    var(--secondary-color) 100%
  );
}

header .page-header > ul li a::before {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
header .page-header > ul li a:hover::before {
  transform: scale(1, 1);
}
header .page-header li a.active,
header .page-header li a:hover {
  background: var(--primary-color);
  background: linear-gradient(
    to right,
    var(--primary-color) 10%,
    var(--secondary-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#click {
  display: none;
}
.menu {
  display: none;
}
